[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ec = commit --allow-empty -m "Trigger Build"
	ca = commit --amend
        undo = reset --soft HEAD^
        ds = diff --staged
[init]
        defaultBranch = main
[push]
        autoSetupRemote = true
        default = current
[github]
	user = dboroujerdi
[diff]
	cmd = nvim -f -c \"DiffviewOpen\"
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -f -c \"DiffviewOpen\"
[mergetool]
	prompt = false
	keepBackup = false
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
        path = ~/.gitconfig.local
[core]
	editor = nvim
        pager = delta
[credential]
	helper = store
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[delta]
        line-numbers = true
