[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ec = commit --allow-empty -m "Trigger Build"
	ca = commit --amend
        undo = reset --soft HEAD^
	ds = diff --staged
[user]
	email = 274674+DBoroujerdi@users.noreply.github.com
	name = Daniel Boroujerdi
[core]
	editor = nvim
	pager = delta
	compression = 9
	whitespace = error
	preloadindex = true
[url "git@github.com:dboroujerdi/"]
	insteadOf = "db:"
[url "git@github.com:"]
	insteadOf = "gh:"
[status]
	branch = true
	showStash = true
	showUntrackedFiles = all
[gpg]
	format = ssh
[commit]
	gpgsign = true
[includeIf "gitdir:/Users/"]
	path = ~/.gitconfig-macos
[includeIf "gitdir:/home/"]
	path = ~/.gitconfig-linux
[init]
        defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[pull]
	default = current
	rebase = true
[rebase]
	autoStash = true
	missingCommitsCheck = warn
[github]
	user = dboroujerdi
[diff]
	cmd = nvim -f -c \"DiffviewOpen\"
	context = 3
	renames = copies
	interHunContext = 10
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -f -c \"DiffviewOpen\"
[mergetool]
	prompt = false
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[advice]
	addEmptyPathSpec = false
	pushNonFastFoward = false
	statusHints = false
[delta]
        line-numbers = true
[credential]
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
