[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ec = commit --allow-empty -m "Trigger Build"
	ca = commit --amend
        undo = reset --soft HEAD^
	ds = diff --staged
[user]
	email = 274674+DBoroujerdi@users.noreply.github.com
[gpg]
	format = ssh
[commit]
	gpgsign = true
[includeIf "gitdir:/Users/"]
	path = ~/.gitconfig-macos
[includeIf "gitdir:/home/"]
	path = ~/.gitconfig-linux
[init]
        defaultBranch = main
[push]
        autoSetupRemote = true
        default = current
[github]
	user = dboroujerdi
[diff]
	cmd = nvim -f -c \"DiffviewOpen\"
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -f -c \"DiffviewOpen\"
[mergetool]
	prompt = false
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
        pager = delta
[delta]
        line-numbers = true
